* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #ececec;
}
#main-header {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: white;
  justify-content: space-between;
}
